<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meeting.end_time %>
</p>

<%= link_to 'Edit', edit_team_meeting_path(@meeting) %> |
<%= link_to 'Back', team_path(@team, @meeting) %>
<%= link_to 'Delete Event', team_meeting_path(@meeting), method: :delete, data: { confirm: 'Are you sure'}%>
